body{
	text-align: center;
}
/*Creacion de los 2 elementos*/
#drag {
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #3498db;
	margin: 1.5em auto 0;
}
#drop1 {
	width: 300px; 
	height: 300px; 
	background:#ecf0f1;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 2px solid #bdc3c7;
	margin: 1em auto 0;
}