body
{   background: url(../img/negro.jpg)  no-repeat fixed center center;
	font-family: Arial;
}

header, section
{
	border-style: ridge;
	border-radius: 3px 30px 3px 30px;
	padding: 5px 10px 2px 10px;ff
	width: 75%;
	margin: 5px 10px 5px 150px;
}
header
{
	text-align: center;
}
ul
{
	list-style: none;
}
li
{
	padding: 3px;
}