body	
{
	background: url(../imagenes/negro.jpg)  no-repeat fixed center center;
	font-family: Arial;
}

 

header, section
{
	border-style: ridge;
	border-radius: 3px 40px 3px 30px;
	padding: 5px 20px 2px 20px;
	width: 75%;
	margin: 5px 20px 5px 150px;
	color: white;
}
header
{
	text-align: center;
}
ul
{
	list-style: none;
}
li
{
	padding: 7px;
}
button
{
	float: right;

	color:black;
}
div 
{
padding: 5px 20px 2px 20px;
}

