body	
{
	background: url(../imgagenes/negro.jpg)  no-repeat fixed center center;
	font-family: Arial;
}

header, section
{
	border-style: ridge;
	border-radius: 3px 30px 3px 30px;
	padding: 5px 10px 2px 10px;
	width: 75%;
	margin: 5px 10px 5px 150px;
	
	
}
header
{
	text-align: center;
    background-color: silver;
    font-family: Arial;
   
   <font-color:purple>
	</font-color>
}
ul
{
	list-style: none;
}
li
{
	padding: 3px;
}
#capa
{
	background-color: silver;	
	font color:purple;
}
button
{

background-color: silver; //Color del fondo
color: purple; //Color de letra
font-family: "Arial"; //Tipo de letra

}